<form action="/shares/<%= @share.id %>" method="post">
  <div>
    <label> Title </label>
    <input type="text" name="stock_name" value="<%= @share.stock_name%>">
  </div>

  <div>
    <label> Body </label>
    <textarea name="stock_market" ><%= @share.stock_market %></textarea>
    <textarea name="stock_sybl"><%= @share.stock_sybl %></textarea>
    <textarea name="market_cap" ><%= @share.market_cap %></textarea>

  </div>

  <div>
    <input type="submit" value="Save Share Data">
  </div>
  <% if(@share.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
