<h1><%= @money.currency_code %></h1>
<p><%= @money.currency %></p>
<p><%= @money.money_amount %></p>
<a href="/money/<%= @money.id %>/edit">edit</a>

<form action="/money/<%= @money.id %>" method="post">
  <input type="submit" value="Delete">
  <input type="hidden" name="_method" value="DELETE">
</form>
